/* nav {
  background: #56CCF2;  
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  
    padding: 20px;
  }
  
  .bg{
    background: #36D1DC;  
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  
    background: linear-gradient(to right, #5B86E5, #36D1DC); 
    padding: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: px;
    margin-left: 0px;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  a.active {
    font-weight: bold;
    color: #ff0000;
  }
   */
  /* ====================================================
  =========================================== */
  /* home button */
  /* .button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;

  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  } */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
 */
 /* .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
   */
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: #fff;
    padding: 20px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
  }
  
  .navbar-links li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0082c8;
    bottom: -4px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-links li a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .navbar-links li a:hover {
    color: #ffd700;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .navbar-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-button:hover {
    color: #ffd700;
  }



  .button {
    position: relative;
    overflow: hidden;
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #0082c8;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  /* //button// */
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(190, 154, 243) 10.8%,
      rgb(91, 192, 255) 94.3%
    );
    transition: all 0.475s;
  }
  

   /* .navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
  } */
  
  .navbar-dropdown li {
    padding: 10px 20px;
  }
  
  .navbar-dropdown li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
  }
  
  .navbar-dropdown li a:hover {
    color: #3f51b5;
  }
  
  .navbar-links li:hover .navbar-dropdown {
    opacity: 1;
    transform: translateY(-10);
  }
   